.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 57px;
    background-color: brown;
    height: 75px;

    a.active{
        background-color: darkorange;
    }

    a{
        font-weight: 300;
        font-size: 15px;
        border-radius: 0px;
        color: rgb(239, 239, 178);
    }

}