<div class="bg" >
    <div class="parent">
        <div class="child">
           
                <form nz-form [formGroup]="questionForm" class="login-form" (ngSubmit)="submitForm()">
                   <nz-form-label [nzNoColon]="'true'" nzRequired>Question Title</nz-form-label>
                    <nz-form-item class="item">
                       <nz-form-control  nzErrorTip="This input is Required ...">
                          <textarea nz-input nzS="large" placeholder="Enter question" formControlName="questionText"></textarea>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-label [nzNoColon]="'true'" nzRequired>Option A</nz-form-label>
                    <nz-form-item>
                        <nz-form-control  nzErrorTip="This input is Required ...">
                            <input nz-input nzS="large"  type="text" placeholder="Option A" formControlName="optionA">

                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-label [nzNoColon]="'true'" nzRequired>Option B</nz-form-label>
                    <nz-form-item>
                        <nz-form-control  nzErrorTip="This input is Required ...">
                            <input nz-input   type="text" placeholder="Option B" formControlName="optionB">

                        </nz-form-control>
                    </nz-form-item>


                    <nz-form-label [nzNoColon]="'true'" nzRequired>Option C</nz-form-label>
                    <nz-form-item>
                        <nz-form-control  nzErrorTip="This input is Required ...">
                            <input nz-input   type="text" placeholder="Option C" formControlName="optionC">

                        </nz-form-control>
                    </nz-form-item>


                    <nz-form-label [nzNoColon]="'true'" nzRequired>Option D</nz-form-label>
                    <nz-form-item>
                        <nz-form-control  nzErrorTip="This input is Required ...">
                            <input nz-input   type="text" placeholder="Option D" formControlName="optionD">

                        </nz-form-control>
                    </nz-form-item>


                    <nz-form-label [nzNoColon]="'true'" nzRequired>Correct Answer</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nz-input nzErrorTip="This input is Required ...">
                            <input nz-input placeholder="Correct Answer" formControlName="correctOption" type="text"/>
                        </nz-form-control>
                    </nz-form-item>

                   <div style="padding-bottom :30px;">
                    <button nz-button (click)="resetForm($event)" class="login-form-button login-form-margin" [nzType]="'primary'">Reset</button>
                    <button nz-button  class="login-form-button login-form-margin" [nzType]="'primary'" type="submit" >Create Test</button>

                    </div>
                </form>
            
        </div>
    </div>

</div>


