[nz-form]
{
  max-width: 400px;
}
.child
{
    
    padding: 60px;
    width:60%;
    margin: auto;
    padding-bottom: 50px;
    background-color:rgb(246, 241, 241);
    box-shadow: 1px 1px 15px -7px rgba(0,0,0,0.1);
    border-radius: 5px;
    
}

nz-form-control
{
    width:  400px;
}

.parent
{
    width: 85%;
    height: 80vh;
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
}
.bg
{
    margin-bottom: 200px;
    padding-bottom: 200px;
}

.login-form-margin
{
    margin-bottom: 16px;
}

.login-form-forgot
{
    float: right;
}
.login-form-button
{
    width:25%;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
button
{
    background-color: #001529;
    border: none;
    
}

.preview
{
    display: flex;
    align-items: center;
    justify-content: center;
}

nz-divider{
    padding-bottom: 10px;
}
