.header
{
  position: flex;
  background-color:  #023e76;
  height: 81px;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;

}
.button active
{
  background-color: firebrick;
  color: aliceblue;
}

.me-auto {
  margin-right: 125px !important;
}
.control
{
  position: absolute;
  right: 5px;
 }

.control button,
.d-flex button
{
  margin-left: 3px;
  color: brown;
  background-color: #023e76;
  color: white;
 
  font-size: 15px;
  border: none;
}
.d-flex button
{
  margin-left: 7px;
}

.container
{
  position: fixed;
  top:0;
  width: 100%;
  z-index: 9;
}


