<div class="bg" >
    <div class="parent">
        <div class="child">
           
                <form nz-form [formGroup]="testForm" class="login-form" (ngSubmit)="submitForm()">
                   <nz-form-label [nzNoColon]="'true'">Title</nz-form-label>
                    <nz-form-item class="item">
                       <nz-form-control  nzErrorTip="This input is Required ...">
                          <input nz-input   type="text" placeholder="Enter title" formControlName="title">
                       </nz-form-control>
                    </nz-form-item>

                    <nz-form-label [nzNoColon]="'true'">Description</nz-form-label>
                    <nz-form-item>
                        <nz-form-control  nzErrorTip="This input is Required ...">
                            <textarea rows="4" nz-input placeholder="Enter Description ..." formControlName="description" type="text">
                            </textarea>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-label [nzNoColon]="'true'">Time</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nz-input nzErrorTip="This input is Required ...">
                            <input nz-input placeholder="Time in seconds per question .." formControlName="time" type="number"/>
                        </nz-form-control>
                    </nz-form-item>

                   <div style="padding-bottom :30px;">
                      <button nz-button  class="login-form-button login-form-margin" [nzType]="'primary'" type="submit" >Create Test</button>
                   </div>
                </form>
            
        </div>
    </div>

</div>


